<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start | Tagebuch</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <p>Tagebuch</p>
        <a href="/" class="btn-logout">Abmelden</a>
    </header>

    <section>
        <article>
            <div class="title">
                <p>Einträge</p>
                <a href="/tagebuch/neu" class="btn-new">Neu</a>
            </div>

            <div class="main">
                {% for item in data %}
                <div class="item">
                    <p class="date">{{ item.date }} &bull; {{ item.day }}</p>
                    <p>{{ item.text }}</p>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    
</body>
</html>