<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start | Tagebuch</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <p>Tagebuch</p>
        <a href="/" class="btn-logout">Abmelden</a>
    </header>

    <section>
        <article>
            <div class="title">
                <p>Neuer Eintrag</p>
                <a href="/tagebuch" class="btn-back">Zurück</a>
            </div>

            <div class="main">
                <form method="post">
                    <input type="text" name="text" class="input-text" placeholder="Ereignis">
                    <!--<input type="datetime-local" name="date" class="input-text">-->
                    <input type="submit" name="add" value="Hinzufügen" class="input-add">
                </form>
            </div>
        </article>
    </section>
    
</body>
</html>