<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmelden | Tagebuch</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body-login">

    <div class="login-container">
        <h2>Anmelden</h2>
        <form method="post">
            <input type="text" name="user" class="input-text" placeholder="Nutzername">
            <input type="password" name="password" class="input-text" placeholder="Passwort">
            <input type="submit" name="login" value="Anmelden" class="input-btn">
        </form>
    </div>
    
</body>
</html>